@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default to a Sleek Dark Mode Theme */
  --background: #09090b; /* Very dark zinc */
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Base custom utility for smooth scrolling */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-surface-default backdrop-blur-md border border-white/10 shadow-glass;
  }

  .glass-panel {
    @apply bg-surface-dark backdrop-blur-xl border border-white/5 shadow-glass;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Custom Webkit Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
